@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* title */

.title h1{
    background-image: linear-gradient(to top , #22E59F , #A56CFB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title{
    padding: 20px;
}

.title p{
    color: aqua;
    font-family: 'Montserrat', sans-serif;
}

/* instructor */

.instructors h1{
    text-align: center;
    margin-bottom: 40px;
}

.instructors img{
    width: 200px;
    height:200px;
    border-radius: 50%;
}


.instructor-images{
    text-align: center;
}

/* skills */


.skillContainer{
    align-items: center;
    display: flex;
    justify-content: space-around;
}


.skillLearning h1{
    margin: 50px;
    text-align: center;
}


.skillContainer img{
    width: 25%;
    border: 2px solid rgb(54, 71, 54);
    border-radius: 30px;
}