@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.title{
    height: 100vh;
    background: linear-gradient(to bottom , #151934 , #071226);
    padding-top: 50px;
    padding: 20px;
    width: 100%;
    height: 100vh;
}


/* title */


.title{
    padding: 20px;
}

.title p{
    color: aqua;
    font-family: 'Montserrat', sans-serif;
}


/* skills */


.skillContainer{
    margin-top: 3%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}


.skillLearning h1{
    margin: 50px;
    text-align: center;
}


.skillContainer img{
    width: 35%;
    border: 2px solid rgb(54, 71, 54);
    border-radius: 30px;
}