ul{
    list-style-type: none;
}

.navbar{
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    background: transparent;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    padding: 2px 10px 2px;
}

.navbar li{
    color: #da8e8e;
}

.navbar li:hover{
    cursor: pointer;
    color: #D8B53A;
}

.navbar-user{
    display: flex;
    gap: 15px;
}

.navbar-features{
    display: flex;
    gap: 50px;
    padding-top: 9px;
}

#login{
    border-radius: 14px;
    border: 2px solid #da8e8e;
    color:  #da8e8e;
    padding: 8px;
}

#login:hover{
    background-color: #22f70a;
    color:#000000;
    cursor: pointer;
}

#signup{
    border-radius: 14px;
    border: 2px solid #da8e8e;
    color: #da8e8e;
    padding: 8px;
}

#signup:hover{
    background-color: #22f70a;
    color:black;
    cursor: pointer;
}
