@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
      
}
p{
      color:red;
}

.HeroSectionContainer{
      padding-top: 50px;
      padding: 20px;
      display: flex;
      width: 100%;
      height: 100vh;
      background: linear-gradient(to top , #151934 , #071226);
}

.heroText{
      font-size: 3.5rem;
      font-weight: 300;
      text-align: left;
      text-shadow: #000000 3px 4px 1px;
      color: #b7b7b7;
      font-family: 'Lilita One', cursive;
}

.HeroSectionLeft{
      width: 50%;
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.HeroSectionRight{
      width: 50%;
      display: flex; 
      justify-content: center;
      align-items: center;
}

.HeroSectionRightImage
{

      width:60%;
      height:70%;
      object-fit: cover;
      background-position: center;
      border: 1px solid #fff;
      border-radius: 30px;
}
.HeroSectionLeftButton{
      padding: 10px 20px;
      border: 1px solid #000;
      border-radius: 10px;
      background: rgb(12, 248, 12);
      font-weight: 600;
}